In [2]:
# download pima indias diabetes dataset
from urllib.request import urlopen
from os import makedirs
from os.path import join


def download_pima_indians_diabetes():
    url = 'https://raw.githubusercontent.com/jbrownlee/Datasets/master/pima-indians-diabetes.data.csv'
    raw_file = urlopen(url)
    save_path = join('data', 'pima-indians-diabetes.csv')
    makedirs('data', exist_ok=True)
    with open(save_path, 'wb') as f:
        f.write(raw_file.read())
    print(f'file saved to {save_path}')

download_pima_indians_diabetes()

file saved to data/pima-indians-diabetes.csv

In [1]:
import pandas as pd

df = pd.read_csv('../data/pima-indians-diabetes.csv', header=None)

df.head()

   0    1   2   3    4     5      6   7  8
0  6  148  72  35    0  33.6  0.627  50  1
1  1   85  66  29    0  26.6  0.351  31  0
2  8  183  64   0    0  23.3  0.672  32  1
3  1   89  66  23   94  28.1  0.167  21  0
4  0  137  40  35  168  43.1  2.288  33  1

In [2]:
df.columns

Index([0, 1, 2, 3, 4, 5, 6, 7, 8], dtype='int64')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       768 non-null    int64
 1   1       768 non-null    int64
 2   2       768 non-null    int64
 3   3       768 non-null    int64
 4   4       768 non-null    int64
 5   5       768 non-null    float64
 6   6       768 non-null    float64
 7   7       768 non-null    int64
 8   8       768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [4]:
def dataset_minmax(df):
    minmax = []
    for col in df.columns:
        minmax.append([df[col].min(), df[col].max()])

    return minmax

In [5]:
minmax = dataset_minmax(df)

minmax

[[0, 17],
 [0, 199],
 [0, 122],
 [0, 99],
 [0, 846],
 [0.0, 67.1],
 [0.078, 2.42],
 [21, 81],
 [0, 1]]

### Min Max Scaling

In [6]:
for col in df.columns:
    mi, mx = df[col].min(), df[col].max()
    df[col] = df[col].apply(func = lambda x: (x-mi)/(mx-mi))

In [7]:
df.head()

,0,1,2,3,4,5,6,7,8
0,0.352941,0.743719,0.590164,0.353535,0.000000,0.500745,0.234415,0.483333,1.0
1,0.058824,0.427136,0.540984,0.292929,0.000000,0.396423,0.116567,0.166667,0.0
2,0.470588,0.919598,0.524590,0.000000,0.000000,0.347243,0.253629,0.183333,1.0
3,0.058824,0.447236,0.540984,0.232323,0.111111,0.418778,0.038002,0.000000,0.0
4,0.000000,0.688442,0.327869,0.353535,0.198582,0.642325,0.943638,0.200000,1.0

In [8]:
import pandas as pd

df2 = pd.read_csv('../data/pima-indians-diabetes.csv', header=None)

df2.head()

   0    1   2   3    4     5      6   7  8
0  6  148  72  35    0  33.6  0.627  50  1
1  1   85  66  29    0  26.6  0.351  31  0
2  8  183  64   0    0  23.3  0.672  32  1
3  1   89  66  23   94  28.1  0.167  21  0
4  0  137  40  35  168  43.1  2.288  33  1

### Standard Scaling

In [9]:
for col in df2.columns:
    mean, std = df2[col].mean(), df2[col].std()
    df2[col] = df2[col].apply(func = lambda x:(x-mean)/std)

### Implement a random train_test split function

In [22]:
def train_test_split(df,split=0.7):
    df_train = df.sample(frac=split)
    rem_index = [i for i in df.index if i not in df_train.index]
    df_test = df.loc[rem_index]
    return df_train,df_test

In [26]:
df_train, df_test = train_test_split(df,0.8)


df_train.head()

,0,1,2,3,4,5,6,7,8
115,0.235294,0.733668,0.754098,0.000000,0.000000,0.464978,0.196840,0.666667,1.0
354,0.176471,0.452261,0.639344,0.000000,0.000000,0.636364,0.205380,0.000000,0.0
760,0.117647,0.442211,0.475410,0.262626,0.018913,0.423249,0.293766,0.016667,0.0
624,0.117647,0.542714,0.524590,0.000000,0.000000,0.459016,0.034159,0.000000,0.0
682,0.000000,0.477387,0.524590,0.393939,0.124113,0.664680,0.122972,0.016667,0.0

In [66]:
df.head()

,0,1,2,3,4,5,6,7,8
0,0.352941,0.743719,0.590164,0.353535,0.000000,0.500745,0.234415,0.483333,1.0
1,0.058824,0.427136,0.540984,0.292929,0.000000,0.396423,0.116567,0.166667,0.0
2,0.470588,0.919598,0.524590,0.000000,0.000000,0.347243,0.253629,0.183333,1.0
3,0.058824,0.447236,0.540984,0.232323,0.111111,0.418778,0.038002,0.000000,0.0
4,0.000000,0.688442,0.327869,0.353535,0.198582,0.642325,0.943638,0.200000,1.0

In [99]:
def cross_validation(df, folds=3):
    dataset_list = []
    cnt = 0
    i = 0
    while i<len(df):
        j = i + int(len(df)/folds)
        cnt+=1
        if cnt == folds:
            j = len(df)-1
        df_test = df[i:j+1]
        df_train = df.loc[list(range(i)) + list(range(j+1,len(df)-1))]
        print(f'fold {cnt}')
        dataset_list.append([df_train, df_test])
        i = j+1
    return dataset_list

In [100]:
dataset_list = cross_validation(df, folds=4)

fold 1
fold 2
fold 3
fold 4

In [101]:
train1, test1 = dataset_list[0]

In [102]:
train1.head()

,0,1,2,3,4,5,6,7,8
193,0.647059,0.678392,0.000000,0.000000,0.000000,0.779434,0.213493,0.316667,1.0
194,0.470588,0.427136,0.450820,0.202020,0.000000,0.363636,0.024765,0.350000,0.0
195,0.294118,0.793970,0.688525,0.414141,0.248227,0.587183,0.135354,0.133333,1.0
196,0.058824,0.527638,0.475410,0.000000,0.000000,0.362146,0.046541,0.000000,0.0
197,0.176471,0.537688,0.508197,0.131313,0.056738,0.341282,0.256191,0.033333,1.0

In [107]:
train_df, test_df = dataset_list[0]

In [108]:
train_df.head()

,0,1,2,3,4,5,6,7,8
193,0.647059,0.678392,0.000000,0.000000,0.000000,0.779434,0.213493,0.316667,1.0
194,0.470588,0.427136,0.450820,0.202020,0.000000,0.363636,0.024765,0.350000,0.0
195,0.294118,0.793970,0.688525,0.414141,0.248227,0.587183,0.135354,0.133333,1.0
196,0.058824,0.527638,0.475410,0.000000,0.000000,0.362146,0.046541,0.000000,0.0
197,0.176471,0.537688,0.508197,0.131313,0.056738,0.341282,0.256191,0.033333,1.0

In [115]:
from random import randrange, seed

def random_algorithm(train, test):
    y = list(df[8].unique())
    prediction = []
    for i in range(len(test)):
        index = randrange(len(y))
        prediction.append(y[index])
    return prediction

In [120]:
seed(2)
pred = random_algorithm(train_df, test_df)

pred[:10]

[1.0, 1.0, 1.0, 0.0, 1.0, 0.0, 0.0, 1.0, 1.0, 1.0]

In [121]:
def mean(values):
    return sum(values)/len(values)

In [122]:
def variance(values, mean):
    return sum([(x-mean)**2 for x in values])/len(values)

In [124]:
def covariance(x, x_mean, y, y_mean):
    return sum([(xi-x_mean)*(yi-y_mean) for xi, yi in zip(x, y)])

## Regression

### Linear Regression with one feature

For linear regression with $y = \beta_0  + \beta_1 x$, we have:

* $\beta_1 = \frac{\sum_{i=1}^{n}(x_i-\bar{x})(y_i-\bar{y})}{\sum_{i=1}^n (x-\bar{x})^2}$
* $\beta_0 = \bar{y}-\beta_1 \bar{x}$

### Multivariate regression
$$
y = b_0 + b_1x_1 + b_2x_2 + b_3x_3...+b_nx_n
$$

In [127]:
def predict(row, coeff):
    yhat = coeff[0]
    for i in range(len(row)-1):
        yhat += row[i]*coeff[i+1]
    return yhat

In [130]:
def coeff_sgd(train, l_rate, n_epoch):
    coeff = [0.0 for _ in range(len(train[0]))]
    sum_error = 0
    for row in train:
        yhat = predict(row, coeff)
        sum_error += abs(yhat - row[-1])
        coeff[0] = coeff[0]-l_rate*sum_error
        
        for i in range(len(row)-1):
            coeff[i+1] = coeff[i+1] - l_rate * sum_error* row[i]
    return coeff

In [131]:
# download wine quality dataset
from urllib.request import urlopen
from os import makedirs
from os.path import join

def download_wine_quality():
    url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-red.csv'
    raw_file = urlopen(url)
    save_path = join('data', 'winequality-red.csv')
    makedirs('data', exist_ok=True)
    with open(save_path, 'wb') as f:
        f.write(raw_file.read())
    print(f'file saved to {save_path}')

download_wine_quality()

file saved to data/winequality-red.csv

### Logistic Regression

Stochastic gradient descent

$$
 b = b + \text{learning\_rate} \times (y-yhat)\times(1-yhat)*yhat*x
$$



### Implementing Perceptron

In [133]:
def predict(row, weights):
    act = weights[0]
    for i in range(len(row)-1):
        act += row[i]*weights[i+1]
    return 1 if act>=0 else 0

In [134]:
dataset = [[2.7810836,2.550537003,0],
  [1.465489372,2.362125076,0],
  [3.396561688,4.400293529,0],
  [1.38807019,1.850220317,0],
  [3.06407232,3.005305973,0],
  [7.627531214,2.759262235,1],
  [5.332441248,2.088626775,1],
  [6.922596716,1.77106367,1],
  [8.675418651,-0.242068655,1],
  [7.673756466,3.508563011,1]]

weights = [-0.1, 0.20653640140000007, -0.23418117710000003]

for row in dataset:
    prediction = predict(row, weights)
    print(f'Expected = {row[-1]}, predicted = {prediction}')

Expected = 0, predicted = 0
Expected = 0, predicted = 0
Expected = 0, predicted = 0
Expected = 0, predicted = 0
Expected = 0, predicted = 0
Expected = 1, predicted = 1
Expected = 1, predicted = 1
Expected = 1, predicted = 1
Expected = 1, predicted = 1
Expected = 1, predicted = 1

In [139]:
def train_weights(train, l_rate, n_epoch):
    weights = [1.0 for i in range(len(train[0]))]
    for epoch in range(n_epoch):
        sum_error = 0.0
        for row in train:
            prediction = predict(row, weights)
            error = row[-1]-prediction
            sum_error += error
            weights[0] += l_rate * error
            for i in range(len(row)-1):
                weights[i+1] += l_rate * error * row[i]
        print('>epoch=%d, lrate=%.3f, error=%.3f' % (epoch, l_rate, sum_error))
    return weights

In [140]:
# Calculate weights
dataset = [[2.7810836,2.550537003,0],
  [1.465489372,2.362125076,0],
  [3.396561688,4.400293529,0],
  [1.38807019,1.850220317,0],
  [3.06407232,3.005305973,0],
  [7.627531214,2.759262235,1],
  [5.332441248,2.088626775,1],
  [6.922596716,1.77106367,1],
  [8.675418651,-0.242068655,1],
  [7.673756466,3.508563011,1]]
l_rate = 0.1
n_epoch = 5

In [141]:
weights = train_weights(dataset, l_rate, n_epoch)

print(weights)

>epoch=0, lrate=0.100, error=-4.000
>epoch=1, lrate=0.100, error=-1.000
>epoch=2, lrate=0.100, error=-1.000
>epoch=3, lrate=0.100, error=-1.000
>epoch=4, lrate=0.100, error=0.000
[0.30000000000000016, 0.7659433794000001, -0.9792820047999999]

In [1]:
# download iris flower datsaset
from urllib.request import urlopen
from os import makedirs
from os.path import join

def download_iris_flower():
    url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'
    raw_file = urlopen(url)
    save_path = join('data', 'iris.data')
    makedirs('data', exist_ok=True)
    with open(save_path, 'wb') as f:
        f.write(raw_file.read())
    print(f'file saved to {save_path}')

download_iris_flower()

file saved to data/iris.data

In [3]:
with open('./data/iris.data', 'r') as file:
    data = [line.strip().split(',') for line in file]

In [4]:
data[:5]

[['5.1', '3.5', '1.4', '0.2', 'Iris-setosa'],
 ['4.9', '3.0', '1.4', '0.2', 'Iris-setosa'],
 ['4.7', '3.2', '1.3', '0.2', 'Iris-setosa'],
 ['4.6', '3.1', '1.5', '0.2', 'Iris-setosa'],
 ['5.0', '3.6', '1.4', '0.2', 'Iris-setosa']]

In [5]:
class_dict = dict()
cnt = 0
for k,row in enumerate(data):
    for i in range(len(row)-1):
        row[i] = float(row[i].strip())
    if row[-1] not in class_dict:
        class_dict[row[-1]] = cnt
        row[-1] = cnt
        cnt += 1
    else:
        row[-1] = class_dict[row[-1]]
    data[k] = row

In [6]:
data[:5]

[[5.1, 3.5, 1.4, 0.2, 0],
 [4.9, 3.0, 1.4, 0.2, 0],
 [4.7, 3.2, 1.3, 0.2, 0],
 [4.6, 3.1, 1.5, 0.2, 0],
 [5.0, 3.6, 1.4, 0.2, 0]]

In [10]:
list(zip(*(data[:5])))

[(5.1, 4.9, 4.7, 4.6, 5.0),
 (3.5, 3.0, 3.2, 3.1, 3.6),
 (1.4, 1.4, 1.3, 1.5, 1.4),
 (0.2, 0.2, 0.2, 0.2, 0.2),
 (0, 0, 0, 0, 0)]

## Naive Bayes

learning the implementation of the Naive Bayes Classifier

In [11]:
def seperate_by_class(dataset):
    seperated = dict()
    for row in dataset:
        if row[-1] not in seperated:
            seperated[row[-1]] = list()
        seperated[row[-1]].append(row)

    return seperated

In [12]:
from math import sqrt
def mean(numbers):
    return sum(numbers)/len(numbers)

def stdev(numbers):
    mn = mean(numbers)
    return sqrt(sum([(x-mn)**2 for x in numbers])/(len(numbers)-1))

In [13]:
def summarize_dataset(dataset):
  summaries = [(mean(column), stdev(column), len(column)) for column in zip(*dataset)]
  del(summaries[-1])
  return summaries

In [14]:
# Test summarizing a dataset
dataset = [[3.393533211,2.331273381,0],
  [3.110073483,1.781539638,0],
  [1.343808831,3.368360954,0],
  [3.582294042,4.67917911,0],
  [2.280362439,2.866990263,0],
  [7.423436942,4.696522875,1],
  [5.745051997,3.533989803,1],
  [9.172168622,2.511101045,1],
  [7.792783481,3.424088941,1],
  [7.939820817,0.791637231,1]]
summary = summarize_dataset(dataset)
print(summary)

[(5.178333386499999, 2.7665845055177263, 10), (2.9984683241, 1.218556343617447, 10)]

In [15]:
from math import sqrt
def gaussian_probability(x, mean, stdev):
    exponent = exp((x-mean)**2/(2*stdev**2))
    return exponent/(stdev*sqrt(2*pi))

In [16]:
def summarise_by_class(dataset):
    seperated = seperate_by_class(dataset)
    summaries = dict()
    
    for class_ in seperated:
        summaries[class_] = summarize_dataset(seperated[class_])
    return summaries

In [17]:
def class_probability(summaries, row):
    total_rows =  sum([summaries[label][0][2] for label in summaries])
    probabilities = dict()
    for class_, class_sum in summaries.iteritems():
        probabilities[class_] =  summaries[class_][0][2]/total_rows
        mean, stdev = class_sum[1:]
        for i in range(len(row)-1):
            probabilities[class_] *= gaussian_probability(row[i], mean, stdev)
    return probabilities

Hence we implemented gaussian naive bayes algorithm to predict class probabilities for a given example from training set


## Learning Vector Quantization

In [29]:
from math import sqrt 
def euclidean_distance(r1, r2):
    dist = 0
    for i in range(len(r1) - 1):
        dist += (r1[i] - r2[i])**2
    return sqrt(dist)

In [30]:
dataset = [[2.7810836,2.550537003,0],
  [1.465489372,2.362125076,0],
  [3.396561688,4.400293529,0],
  [1.38807019,1.850220317,0],
  [3.06407232,3.005305973,0],
  [7.627531214,2.759262235,1],
  [5.332441248,2.088626775,1],
  [6.922596716,1.77106367,1],
  [8.675418651,-0.242068655,1],
  [7.673756466,3.508563011,1]]
 

row0 = dataset[0]
for row in dataset:
    print(euclidean_distance(row, row0))

0.0
1.3290173915275787
1.9494646655653247
1.5591439385540549
0.5356280721938492
4.850940186986411
2.592833759950511
4.214227042632867
6.522409988228337
4.985585382449795